<%- include('partials/head') %>

<%- include('partials/navbar') %>

<div class="container mt-4">
    <h2 class="text-center mb-4">Edit Recipe</h2>
    <form method="POST"    action="/recipes/<%=recipe.id%>?_method=PATCH"  class="edit-form">
        <div class="form-group">
            <label for="recipeName">Recipe Name</label>
            <input type="text" class="form-control" id="recipeName" name="name" value="<%= recipe.name %>" required>
        </div>
        <div class="form-group">
            <label for="recipeCategory">Recipe Category</label>
            <input type="text" class="form-control" id="recipeCategory" name="category" value="<%= recipe.category %>" required>
        </div>
        <div class="form-group">
            <label for="recipeIngredients">Ingredients</label>
            <textarea class="form-control" id="recipeIngredients" name="ingredients" rows="3" required><%= recipe.ingredients %></textarea>
        </div>
        <div class="form-group">
            <label for="recipeInstructions">Instructions</label>
            <textarea class="form-control" id="recipeInstructions" name="instructions" rows="5" required><%= recipe.instructions %></textarea>
        </div>
        <div class="form-group">
            <label for="recipeImage">Update Image URL</label>
            <input type="url" class="form-control" id="recipeImage" name="image" placeholder="Enter image URL" required>
            
        </div>





        <button type="submit" class="btn btn-primary mt-4">Update Recipe</button>
    </form>
</div>